#wizard .nav-pills > li + li {
    margin-left: 0px;
}
#wizard .nav-pills > li > a {
    border: 1px solid #2CA8FF;
    border-radius: 0;
    color: #2CA8FF;
    margin-left: -1px;
}
#wizard .nav > li > a:hover, .nav > li > a:focus {
    opacity: .75;
}

#wizard .nav-pills > li.active > a, #wizard .nav-pills > li.active > a:hover, #wizard .nav-pills > li.active > a:focus {
    background-color: #FF75BE;
    color: #FFFFFF;
}

#wizard .nav-pills > li:first-child > a{
    border-radius: 4px 0 0 4px;
    margin: 0;
}
#wizard .nav-pills > li:last-child > a{
    border-radius: 0 4px 4px 0;
}

.wizard-container{
    z-index: 3;
}


.wizard-card{
    max-height: 430px;
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.wizard-card .picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.wizard-card .picture{
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.wizard-card .picture:hover{
    border-color: #2ca8ff;
}
.wizard-card.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.wizard-card.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.wizard-card.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.wizard-card.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.wizard-card .picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.wizard-card .picture-src{
    width: 100%;
    
}
.wizard-card .tab-content{
    min-height: 340px;
    padding: 20px 10px;
}

.wizard-card .wizard-footer{
    padding: 0 10px;
}

.wizard-card .disabled{
    display: none;
}

.wizard-card .wizard-header h3{
    font-weight: 200;
    text-align: center;
}

.wizard-card > ul > li{
    text-align: center;
}

.wizard-card > ul > li a {
    border: 0 !important;
    text-transform: uppercase;
    background-color: #999999;
    color: #FFFFFF !important;
    font-size: 12px;
}
.wizard-card.ct-wizard-green > ul > li.active a{
    background-color: #05ae0e;
}
.wizard-card.ct-wizard-blue > ul > li.active a{
    background-color: #3472f7;
}
.wizard-card.ct-wizard-orange > ul > li.active a{
    background-color: #ff9500;
}
.wizard-card.ct-wizard-red > ul > li.active a{
    background-color: #ff3b30;
}

.wizard-card > ul > li > a:hover, .wizard-card > ul > li > a:focus{
    background-color: #999999;
    cursor: default;
} 
.wizard-card .btn{
    text-transform: uppercase;
}
.wizard-card .nav-pills > li:first-child > a {
    border-radius: 0;
    margin: 0;
}
.wizard-card .nav-pills > li:last-child > a{
    border-radius: 0;
}
.wizard-card .info-text{
    text-align: center;
    font-weight: 300;
    margin: 10px 0 30px;
}
.wizard-card .choice{
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}
.wizard-card .choice .icon{
   text-align: center;
   vertical-align: middle;
   height: 116px;
   width: 116px;
   border-radius: 50%;
   background-color: #999999;
   color: #FFFFFF;
   margin: 0 auto 20px;
   border: 4px solid #CCCCCC;
   transition: all 0.2s;
   -webkit-transition: all 0.2s;
}
.wizard-card .choice i{
    font-size: 30px;
    line-height: 111px;
}

.wizard-card .choice:hover .icon, .wizard-card .choice.active .thumbnail{
    border-color: #FF7579;
    border-width: 4px;
}
.wizard-card.ct-wizard-blue .choice:hover .icon, .wizard-card.ct-wizard-blue .choice.active .icon{
    border-color: #3472f7;
}
.wizard-card.ct-wizard-green .choice:hover .icon, .wizard-card.ct-wizard-green .choice.active .icon{
    border-color: #05ae0e;
}
.wizard-card.ct-wizard-orange .choice:hover .icon, .wizard-card.ct-wizard-orange .choice.active .icon{
    border-color: #ff9500;
}
.wizard-card.ct-wizard-red .choice:hover .icon, .wizard-card.ct-wizard-red .choice.active .icon{
    border-color: #ff3b30;
}

.wizard-card .choice input[type="radio"]{
    position: absolute;
    left: -10000px;
    z-index: -1;
}

.wizard-card .choice input[type="checkbox"]{
    position: absolute;
    left: -10000px;
    z-index: -1;
}

.wizard-card .btn-finish{
    display: none;
}

.wizard-card .description{
    color: #999999;
    font-size: 14px;
}

.wizard-container .btn-custom {
  border-color: #E0E0E0;
  color: #7C807E;
  background-color: #FFF;
  outline: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075);
  box-shadow:  0 1px 1px rgba(0,0,0,.075);
}

.wizard-container .btn-done {
    color: #FFF;
    background-color: #FF7579;
    border-color: transparent;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset;
}

.wizard-card .wizard-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-height: 80%;
    max-width: 80%;
    overflow: hidden;
    margin-bottom: 20px;
}

.btn.questionnaire-toggle {
    border-color: #E0E0E0;
    color: #7C807E;
    background-color: #FFF;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    
}

.btn.questionnaire-toggle:hover {
    border: 1px solid #F5565B;
    color:#7C807E;
/*    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;*/
}

.btn.questionnaire-toggle.active {
    color: #FFF;
    background-color: #F5565B;
    border-color: transparent;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    
}

.brand-check {
    margin: 10px;
}


/*.brand-check {
    margin: 10px;
    border-color: #E0E0E0;
    color: #7C807E;
    background-color: #FFF;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-group .btn.brand-check {
    border-color: #E0E0E0;
    color: #7C807E;
    background-color: #FFF;
    outline: 0px none;
    box-shadow: none
}

.btn-group .btn.brand-check:hover {
    border: 1px solid #F5565B;
    color:#7C807E;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
*/


.btn.brand-check:hover {
    border: 1px solid #F5565B;
    color:#7C807E;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
}

.btn.brand-check.active {
    color: #FFF;
    background-color: #F5565B;
    border-color: transparent;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset;
}


@media (max-width: 1200px) {
    #wizard .nav > li a {
        height: 65px;
    }
}

@media (max-width: 768px) {
    #wizard .nav > li:nth-child(n+1) a {
    border-radius: 0px;    
    }
}