{% extends "base.html" %}
{% block title %}FABMI- {{title|e}} {% endblock title%}
{% block content %}
        	<div id="category-header">
        		<div class="row">
        			<div class="container">
                        <div class="col-md-5 col-sm-5 col-xs-12">
							<div class="category-image">
								<img src="{{relativedir}}/{{categoryImgUrl}}" alt="{{categoryName}}" class="img-responsive">
							</div><!-- End .category-image -->
						</div><!-- col-md-5 col-sm-5 col-xs-12 -->
						
						<div class="col-md-7 col-sm-7 col-xs-12">
							<div class="category-title">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <h2 class="text-capitalize">{{categoryName}} - {{title}}</h2>
                                    </div>
                                </div>
                                {% if dos|length > 1 %}                             
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h4>DO'S:</h4>
                                        <ul>
                                            {% for do in dos %}
                                            <li>{{do}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h4>DONT'S:</h4>
                                        <ul>
                                            {% for dont in donts %}
                                            <li>{{dont}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endif %}
                            </div><!-- category-title -->
 						</div><!-- End col-md-7 col-sm-7 col-xs-12 -->
        			</div><!-- End .container -->
        		</div><!-- End .row -->
        	</div><!-- End #category-header -->
        	<div id="category-breadcrumb">
        		<div class="container">
					<ul class="breadcrumb">
						<li><a href="/index.html">Home</a></li>
                        <li><a href="{{category|lower}}.html">{{categoryName}}</a></li>
                        <li class="active"><a href="{{subCategory}}.html">{{title}}</a></li>
					</ul>
        		</div>
        	</div>
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
        				
        				<div class="row">
        					
        					<div class="col-md-12 col-sm-12 col-xs-12 main-content">
        						<div class="sm-margin"></div><!-- .space -->
        						<div class="category-item-container">
        						<div class="row">
                                    {% for product in products %}
        							<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
        								<div class="item">
        									<div class="item-image-container">
    											<figure>
    												<a href="{{subCategory}}/{{product.productCode}}.html">
    													<img src="{{product.productImg1Url}}" alt="item1" class="item-image center-block">
                                                       {% if product.productImg2Url is not none %}
    													<img src="{{product.productImg2Url}}" alt="item1  Hover" class="item-image-hover center-block">
                                                        {% endif %}
    												</a>
    											</figure>
        										<div class="item-price-container">
                                                   {% if product.mrp %}
                                                    <span class="old-price"><span class="WebRupee">&#x20B9;</span>{{product.mrp}}</span>
                                                    {% endif %}
                                                    <span class="item-price"><span class="WebRupee">&#x20B9;</span>{{product.price}}</span>
												</div>
                                                {% if product.new|lower == 'true' %}
												<span class="new-rect">New</span>
                                                {% endif%}
                                                {% if product.discount %}
												<span class="discount-rect">{{product.discount}}%</span>
                                                {% endif%}
        									</div><!-- End .item-image -->
        									<div class="item-meta-container">
        										<h3 class="item-name"><a class="text-capitalize" href="{{productUrl}}"><span class="text-capitalize">{{product.productName}}</span></a></h3>
        									</div><!-- End .item-meta-container -->	
        								</div><!-- End .item -->
        							</div><!-- End .col-md-3 -->
                                    {% endfor %}
        						</div><!-- End .row -->
        						</div><!-- End .category-item-container -->
        						
        					</div><!-- End .col-md-9 -->
        					
        				</div><!-- End .row -->
        				
        				
        			</div><!-- End .col-md-12 -->
        		</div><!-- End .row -->
			</div><!-- End .container -->
        
{% endblock content %}
            {% block footer %}
                {{ super() }}
            {% endblock %} 
            {% block jsscripts %}
                {{ super() }}        
            {% endblock jsscripts %}
