{% extends "base.html" %}
{% block title %}FABMI- {{title|e}} {% endblock title%}
{% block content %}
                <div id="breadcrumb-container">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/index.html">Home</a></li>
                            <li><a href="../{{category|lower}}.html">{{categoryName}}</a></li>
                            <li class="active"><a href="../{{subCategory}}.html">{{title}}</a></li>
                        </ul>
                    </div>
                </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="row">
                        
                        <div class="col-md-6 col-sm-12 col-xs-12 product-viewer clearfix">

                            <div id="product-image-carousel-container">
                                <ul id="product-carousel" class="elastislide-list">
                                    {% for imageUrl in imageUrls %}
                                    <li {% if loop.index == 1 %}class="active-slide"{% endif %}><a data-rel='prettyPhoto' href="{{imageUrl.zoom_img}}" ><img src="{{imageUrl.std_img}}" alt="jacket photo {{loop.index}}"></a></li>
                                    {% endfor %}

                            </ul><!-- End product-carousel -->
                            </div>

                            <div id="product-image-container">
                                <figure>
                                    <div class="test">
                                    <img src="{{imageUrls[0].std_img}}" alt="Product Big image" id="product-image" data-big="{{imageUrls[0].zoom_img}}">
                                    </div>
                                    <figcaption class="item-price-container">
                                       {% if mrp  %}
                                        <span class="old-price"><span class="WebRupee">&#x20B9;</span>{{mrp}}</span>
                                        {% endif %}
                                        <span class="item-price"><span class="WebRupee">&#x20B9;</span>{{price}}</span>
                                    </figcaption>
                                </figure>
                            </div><!-- product-image-container -->
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6 col-sm-12 col-xs-12 product">
                            <div class="lg-margin visible-sm visible-xs"></div><!-- Space -->
                            <h1 class="product-name">{{productName}}</h1>
                            <ul class="product-list">
                                <li>
                                   <span style="display:inline-block">Seller:</span>
                                    {% if fabmiOwned %}
                                       <div class="seller seller-fabmi"></div>
                                   {% else %}
                                       <div class="seller seller-{{seller}}"></div>
                                   {% endif %}
                                </li>
                                {% if material %}
                                    <li><span>Material:</span>{{material}}</li>
                                {% endif %}
                                {% if brand %}
                                    <li><span>Brand:</span>{{brand}}</li>
                                {% endif %}
                                {% if fabmiOwned %}
                                    <li id="COD"><span>Payment:</span><font>Cash on Delivery</font></li>
                                    <li><span>Return/Exchange:</span><font><a href="/customer_service.html" target="_blank">Check Here</a></font></li>
                                {% endif %}
                            </ul>
                            <hr>
                            {% if fabmiOwned %}
                                <div class="sm-margin product-add clearfix">
                                    <a data-toggle="modal" href="#order-form-content" class="btn btn-custom-2">GET IT</a>
                                </div><!-- .product-add -->
                            {% else%}
                                <div class="sm-margin product-add clearfix">
                                    <a href="{{ productUrl }}" class="btn btn-custom-2" target="_blank">GET IT</a>
                                </div><!-- .product-add -->
                            {% endif %}
                            {% if fabmiOwned and sizeheaders %}
                                    <div>
                                    <a data-toggle="collapse" href="#sizeMain" aria-expanded="false" aria-controls="sizeMain" style="text-decoration: underline;">
                                    Size Chart (In Inches)
                                    </a>
                                    <div id="sizeMain" class="collapse" style="margin-bottom:15px">
                                         <div class="table-responsive">
                                          <table class="table table-condensed">
                                                <thead>
                                                    <tr>
                                                        {% for header in sizeheaders %}
                                                            <th>{{header}}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for size in sizes %}
                                                        <tr>
                                                            {% for header in sizeheaders %}
                                                                <td>{{size[header]}}</td>
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                          </table>
                                        </div> 
                                    </div>
                                    
                                    </div>
                            {% endif %}
                            {% if description %}
                                <div class="well description">
                                {% for line in description %}
                                <p>{{line}}</p>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div><!-- End .col-md-6 -->
                            
                        </div><!-- End .row -->
                        <div class="lg-margin2x"></div><!-- End .space -->
                        
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
                {% if fabmiOwned %}
                <div id="order-form-content" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div id="ordermodal" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal">×</a>
                                <h3>Place your order</h3>
                            </div>
                            <form action="#" id="order-form" class="form-horizontal" role="form">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="orderemail" class="col-sm-3 control-label">Your E-mail*</label>
                                        <div class="col-sm-9">
                                            <input type="email" required class="form-control" id="orderemail" placeholder="Email">
                                        </div>
                                    </div>
                                    {% if colors %}
                                        <div class="form-group">
                                            <label for="ordersize" class="col-sm-3 control-label">Select Color</label>
                                            <div class="col-sm-9 product-color-filter-container">
                                                <ul class="filter-color-list clearfix">
                                                    {% for color in colors %}
                                                        <li><a href="#" data-bgcolor="{{color['hex']}}" data-color="{{color['name']}}" class="filter-color-box"></a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div><!-- End .product-color-filter-container-->
                                            <input type="hidden" id="ordercolor" name="ordercolor" value="">
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="ordersize" class="col-sm-3 control-label">Dress Size*</label>
                                        <div class="col-sm-9">
                                            {% if sizes %}
                                                <select class="form-control" required name="ordersize" id="ordersize">
                                                    {% for size in sizes %}
                                                    <option value="{{size['Size']}}">{{size['Size']}}</option>
                                                    {% endfor %}
                                                </select>
                                            {% else %}
                                                <p class="form-control-static"><b>Free Size</b></p>
                                                <input type="hidden" name="ordersize" value="Free Size"/>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if sizeheaders %}
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                            <a data-toggle="collapse" href="#collapseSize" aria-expanded="false" aria-controls="collapseExample">
                                            Size Chart
                                            </a>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom:0px">
                                            <div class="col-sm-offset-3 col-sm-9 collapse" id="collapseSize" style="margin-bottom:15px">
                                                 <div class="table-responsive">
                                                  <table class="table table-condensed">
                                                        <thead>
                                                            <tr>
                                                                {% for header in sizeheaders %}
                                                                    <th>{{header}}</th>
                                                                {% endfor %}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for size in sizes %}
                                                                <tr>
                                                                    {% for header in sizeheaders %}
                                                                        <td>{{size[header]}}</td>
                                                                    {% endfor %}
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                  </table>
                                                </div> 
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label required class="col-sm-3 control-label">Delivery Time   <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="We get the products from our partners on order basis. We are working hard to get it sonner for you">Why late?</a> </label>     
                                        <div class="col-sm-9">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="orderdeliverytype" id="orderdeliveryoption2" value="3-4 weeks" checked>
                                                    <b>3-4 weeks</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ordermessage" required class="col-sm-3 control-label">Message</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="ordermessage" placeholder="Any comments?"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <p class="item-desc">Required fields are marked*</p>
                                    <input class="btn btn-custom" type="submit" value="Send" id="submit">
                                    <a href="#" class="btn" data-dismiss="modal">Nah.</a>
                                </div>
                                {% if productCode %}
                                    <input id="productcode" type="hidden" name="productCode" value="{{productCode}}">
                                    <input id="category" type="hidden" name="category" value="{{category}}">
                                    <input id="subcategory" type="hidden" name="subCategory" value="{{subCategory}}">
                                {% endif %}
                            </form>
                        </div>
                        <script>
                        $(function () {
                            $('a').tooltip();
                        })
                        </script>
                    </div><!-- End #ordermodal --> 
                    <div id="thanksmodal" class="modal-dialog hide">
                        <div class="modal-content">                 
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal">×</a>
                                <h3>Thanks You!</h3>
                            </div>
                            <div class="modal-body">
                            <p>Thanks for placing your order. We will contact you shortly regarding your order</p>
                            </div>
                            <div class="modal-footer">
                                <a id="ordermodelclosebtn" href="#" class="btn" data-dismiss="modal">Close</a>
                            </div>
                        </div>
                    </div><!-- End #thanksmodal -->                    
                </div><!-- End .modal -->
                {% endif %}
            </div><!-- End .container -->

{% endblock content %}
            {% block footer %}
                {{ super() }}
            {% endblock %} 
    <!-- END -->
        {% block jsscripts %}
            {{ super() }}
                <script>
        $(function() {

            var carouselContainer = $('#product-carousel'),
                productImg =  $('#product-image');

            carouselContainer.elastislide({
                orientation : 'vertical',
                {% if imageUrls|length >= 4 %}
                    minItems : 4
                {% else %}
                    minItems: {{imageUrls|length}}
                {% endif %}                    
                    
            });

            {% if imageUrls[0].std_img != imageUrls[0].zoom_img %}
            productImg.mlens({
                imgSrc: $("#product-image").attr("data-big"),         
                lensShape: "square",
                lensSize: 150,
                borderSize: 4,
                borderColor: "#999",
                borderRadius: 0
            });
            {% endif %}
            
            var oldImg = productImg.attr('src');
            carouselContainer.find('li').on('mouseover', function() {
                
                var zoomImg = $(this).find('a').attr('href');
                var newImg = $(this).find('img').attr('src')
                productImg.attr({'src': newImg, 'data-big': zoomImg}).trigger('imagechanged');
                
            });

            // triggered with custom event
            productImg.on('imagechanged', function() {
                productImg.mlens("update", 0 ,{
                    imgSrc: productImg.attr("data-big"),
                    lensShape: "square",
                    lensSize: 150,
                    borderSize: 4,
                    borderColor: "#999"
                });
            });

        });
        var pubID = '6305CL5937';
 
        $(function(d, t) {
        var s = document.createElement('script');s.type = 'text/javascript';
        s.async = true;s.src = (document.location.protocol == 'https:' ? 'https://cdn0.cuelinks.com/js/' : 'http://cdn0.cuelinks.com/js/')  + 'cuelinksv1.js';
        document.getElementsByTagName('body')[0].appendChild(s);
        }());

    </script>

        {% endblock jsscripts %}
