
@media (min-width:0px) and (max-width:543px) {
body {
	font-size: 14px;
}
.carousel-caption {
	padding-bottom: 48px;
	top: 90px;
}
.carousel-caption .caption-box {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.carousel-caption h1 {
	font-weight: 600;
	line-height: 1.2;
}
.carousel-caption h4 {
	font-weight: 300;
	line-height: 1.3;
}
.lets-start {
	display: block;
	padding-top: 64px;
}
.carousel-caption .btn {
	min-width: 300px;
	margin-top: 0px;
	border-color: #00a651;
	background-color: #00a651;
	height: 56px;
	line-height: 50px;
}
.carousel-caption .btn:hover {
	background-color: #00a651
}
.carousel-caption .btn:after {
	border: 2px solid #00a651;
}
.btn-down {
	right: 0;
	background-color: #212121;
	border-color: #212121;
	padding: 0;
	float: right;
	margin-right: 16px;
	bottom: 8px;
	height: 48px;
	width: 48px;
	line-height: 48px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.08);
}
.btn-down .flaticon-directional25 {
	line-height: 48px;
}
.fm-service {
	padding-top: 48px;
}
.fm-service li:last-child:before, .fm-service:before, .fm-service:after {
	left: 24px;
}
.fm-service li:after {
	line-height: 40px;
	font-size: 1.375em;
	width: 44px;
	height: 44px;
	left: 0;
	margin-left: 0;
}
.fm-service li:last-child {
	padding-bottom: 32px;
}
.fm-service-box {
	width: calc(100%-64px);
	width: -moz-calc(100% - 64px);
	width: -webkit-calc(100% - 64px);
	float: left !important;
	margin-left: 64px;
}
.fm-service-box h3 {
	margin-top: 16px;
	margin-bottom: 16px;
	text-align: left;
}
.fm-benfit {
	padding-top: 16px;
	padding-bottom: 32px;
}
.fm-why {
	padding: 32px 0;
}
.fm-why-box {
	padding: 8px 8px 8px 16px;
}
.fm-why-box h2 {
	margin-bottom: 16px;
}
.fm-why-box .smile-pls:before {
	left: -16px;
}
.fm-it-work {
	padding-top: 32px;
}
.fm-it-work .display-2 {
	margin-bottom: 24px;
}
.fm-testimonials {
	padding: 32px 0 16px 0;
}
.fm-testimonial-wrapper {
	margin-top: 32px;
	padding-bottom: 16px;
}
.fm-testimonial .fm-author {
	margin-top: 16px;
}
.fm-testimonial .fm-author .author-pic {
	width: 56px;
	height: 56px;
	border-radius: 12px 2px 2px 2px;
	margin-left: 16px
}
.fm-testimonial .author-pic img {
	width: 56px;
	height: 56px;
}
.fm-testimonial .fm-author .fm-author-info {
	line-height: 56px;
	font-size: 1.2em;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
	font-size: 1.5em;
}
.footer {
	padding: 32px 0;
}
.nav-list, .nav-form {
	margin-top: 32px;
}
.nav-list li {
	margin-bottom: 16px;
	min-height: 32px;
}
.nav-list li a {
	line-height: 32px;
}
.nav-list li a i {
	float: left;
	margin-right: 24px;
}
.footer-bottom {
	height: 64px;
}
.footer-bottom .item-box {
	-webkit-flex-grow: 1;
	-webkit-flex-shrink: 1;
	flex-grow: 1;
	flex-shrink: 1;
}
.footer-bottom .item-box:nth-of-type(4) {
	-webkit-flex-shrink: 3;
	flex-shrink: 3;
	flex-grow: 3;
	-webkit-flex-grow: 3;
}
.footer-bottom .item-box a {
	font-size: 1.5em;
	line-height: 64px;
}
h1, .h1 {
	font-size: 1.5em;
}
h2, .h2 {
	font-size: 1.35em;
}
h3, .h3 {
	font-size: 1.25em;
}
h4, .h4 {
	font-size: 1.15em;
}
h5, .h5 {
	font-size: 1.1em;
}
h6, .h6 {
	font-size: 1em;
}
.lead {
	font-size: 1.2em;
}
.display-1 {
	font-size: 1.6em;
	font-weight: 500;
}
.display-2 {
	font-size: 1.8em;
	font-weight: 500;
}
.display-3 {
	font-size: 2em;
	font-weight: 500;
}
.display-4 {
	font-size: 2.25em;
	font-weight: 500;
}
.display-5 {
	font-size: 2.5em;
	font-weight: 500;
}
.display-6 {
	font-size: 3em;
	font-weight: 500;
}
}

@media only screen and (max-width:991px) and (orientation:landscape), only screen and (max-device-width : 321px) and (orientation : portrait) {
.navbar-dark {
	padding-top: 0;
}
.carousel {
	min-height: 110%;
}
.carousel-inner > .carousel-item { min-height:100vh;}
.navbar-dark .navbar-brand {
	top: 0;
}
}


body:not(.blog-page)  .carousel-inner > .carousel-item {  height:100vh;}
body:not(.blog-page) .carousel {
	min-height: 70%;
}

body:not(.blog-page) .carousel {
	min-height: 110%;
}
body.blog-page .carousel .carousel-inner > .carousel-item { min-height:70vh;}


@media only screen and (min-width: 544px) and (max-width:768px) {
body:not(.blog-page) .carousel-caption {
	padding-bottom: 56px;
	top: 112px;
}

.carousel-caption .caption-box {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.carousel-caption h1 {
	font-weight: 600;
	line-height: 1.2;
}
.carousel-caption h4 {
	font-weight: 300;
	line-height: 1.3;
}
.lets-start {
	display: block;
	padding-top: 72px;
}
.carousel-caption .btn {
	min-width: 300px;
	margin-top: 0px;
	border-color: #00a651;
	background-color: #00a651;
	height: 56px;
	line-height: 50px;
}
.carousel-caption .btn:hover {
	background-color: #00a651
}
.carousel-caption .btn:after {
	border: 2px solid #00a651;
}
.btn-down {
	right: 0;
	background-color: #212121;
	border-color: #212121;
	padding: 0;
	float: right;
	margin-right: 16px;
	bottom: 8px;
	height: 48px;
	width: 48px;
	line-height: 48px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.08);
}
.btn-down .flaticon-directional25 {
	line-height: 48px;
}
.fm-it-work {
	padding-top: 32px;
}
.fm-it-work .display-2 {
	margin-bottom: 24px;
}
.fm-it-work {
	padding-top: 48px;
}
.fm-it-work .display-2 {
	margin-bottom: 32px;
}
.fm-service {
	padding-top: 64px;
}
.fm-service li:after {
	line-height: 48px;
	font-size: 2.2em;
	width: 48px;
	height: 48px;
	margin-left: -24px;
}
.fm-service li:last-child {
	padding-bottom: 32px;
}
.fm-service li:last-child:before {
	bottom: -8px !important;
	z-index: 2;
}
.fm-service-box {
	width: calc(50%-48px);
	width: -moz-calc(50% - 48px);
	width: -webkit-calc(50% - 48px);
}
.fm-service-box h3 {
	margin-top: 16px;
	margin-bottom: 32px;
}
.fm-benfit {
	padding-top: 16px;
	padding-bottom: 32px;
}
.fm-why {
	padding: 32px 0;
}
.fm-why-box {
	padding: 16px 16px 16px 24px;
}
.fm-why-box h2 {
	margin-bottom: 24px;
}
.fm-why-box .smile-pls:before {
	left: -24px;
}
.fm-testimonials {
	padding: 48px 0 24px 0;
}
.fm-testimonial-wrapper {
	margin-top: 48px;
	padding-bottom: 24px;
}
.fm-testimonial .fm-author {
	margin-top: 16px;
}
.fm-testimonial .fm-author .author-pic {
	width: 56px;
	height: 56px;
	border-radius: 12px 2px 2px 2px;
	margin-left: 16px
}
.fm-testimonial .author-pic img {
	width: 56px;
	height: 56px;
}
.fm-testimonial .fm-author .fm-author-info {
	line-height: 56px;
	font-size: 1.2em;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
	font-size: 1.5em;
}
.footer {
	padding: 32px 0;
}
.nav-list, .nav-form {
	margin-top: 32px;
}
.nav-list li {
	margin-bottom: 16px;
	min-height: 32px;
}
.nav-list li a {
	line-height: 32px;
}
.nav-list li a i {
	float: left;
	margin-right: 24px;
}
.footer-bottom {
	height: 64px;
}
.footer-bottom .item-box {
	-webkit-flex-grow: 1;
	-webkit-flex-shrink: 1;
	flex-grow: 1;
	flex-shrink: 1;
}
.footer-bottom .item-box:nth-of-type(4) {
	-webkit-flex-shrink: 3;
	flex-shrink: 3;
	flex-grow: 3;
	-webkit-flex-grow: 3;
}
.footer-bottom .item-box a {
	font-size: 1.5em;
	line-height: 64px;
}
h1, .h1 {
	font-size: 1.6em;
}
h2, .h2 {
	font-size: 1.40em;
}
h3, .h3 {
	font-size: 1.30em;
}
h4, .h4 {
	font-size: 1.20em;
}
h5, .h5 {
	font-size: 1.18em;
}
h6, .h6 {
	font-size: 1em;
}
.lead {
	font-size: 1.30em;
}
.display-1 {
	font-size: 1.7em;
	font-weight: 500;
}
.display-2 {
	font-size: 1.9em;
	font-weight: 500;
}
.display-3 {
	font-size: 2.1em;
	font-weight: 500;
}
.display-4 {
	font-size: 2.35em;
	font-weight: 500;
}
.display-5 {
	font-size: 2.6em;
	font-weight: 500;
}
.display-6 {
	font-size: 3.1em;
	font-weight: 500;
}

}
@media only screen and (min-width: 768px) and (max-width:991px) {
.container {
	max-width: 90%;
}
.container-fluid {
	max-width: 100%;
}
.navbar-nav > li {
	padding: 16px 0;
}
.navbar-fixed-top .navbar-nav > li{ padding:0px;}

.navbar-dark .navbar-brand {
	width: 72px;
}
.navbar-dark.navbar-fixed-top .navbar-brand { width:48px;}

h1, .h1 {
	font-size: 1.65em;
}
h2, .h2 {
	font-size: 1.4em;
}
h3, .h3 {
	font-size: 1.30em;
}
h4, .h4 {
	font-size: 1.20em;
}
h5, .h5 {
	font-size: 1.1em;
}
h6, .h6 {
	font-size: 1em;
}
.lead {
	font-size: 1.375em;
}
.display-1 {
	font-size: 1.9em;
	font-weight: 500;
}
.display-2 {
	font-size: 2.20em;
	font-weight: 500;
}
.display-3 {
	font-size: 2.4em;
	font-weight: 500;
}
.display-4 {
	font-size: 2.61em;
	font-weight: 500;
}
.display-5 {
	font-size: 2.8em;
	font-weight: 500;
}
.display-6 {
	font-size: 3.5em;
	font-weight: 500;
}
}

@media screen and (min-width: 0px) and (max-width:767px) {
.navbar-dark .navbar-toggler {
	color: rgba(255,255,255,0.7);
	width: 44px;
	font-size: 2em;
}
.navbar-light .navbar-toggler {
	color: rgba(0,0,0,.7)
}
.navbar-dark.navbar-fixed-top .navbar-brand { width:48px;}
.navbar-dark .navbar-brand {
	position: absolute;
	margin: auto 0;
	bottom: 0px;
	width:72px;
	left: 50%;
	margin-left: -36px;
	margin-right: 0;
}
.navbar-dark.navbar-fixed-top .navbar-brand {
	margin-left: -24px;
	bottom: auto;
}
}

@media screen and (min-width: 992px) and (max-width:1199px) {
.container-fluid {
	max-width: 100%;
}
.container {
	max-width: 90%;
}
}

@media screen and (min-width:1200px) and (max-width:1365px) {
.container-fluid {
	max-width: 90%;
}
.container {
	max-width: 80%;
}
}

@media only screen and (min-width: 1366px) {
.container-fluid {
	max-width: 90%;
}
.container {
	max-width: 1100px;
}
}
.row.no-space {
	margin-left: -12px !important;
	margin-right: -12px !important;
	
}
.row.no-space > [class^="col-"]:first-child {
	padding-left: 0px !important;
}
.row.no-space >[class^="col-"]:last-child {
	padding-right: 0px !important;
}
.row.no-space >[class^="col-"] {
	padding-right: 12px !important;
	padding-left: 12px!important
}
